body {
  background-color: #DEE1DD; 
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: #2F575D; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  color: #28363D;
}

h2 {
  color: #2F575D; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:link {
  color: #65809a; 
  background-color: #C4CDC1;
}

a:visited {
  color: #994db3; 
  background-color: #C4CDC1;
}

blockquote {
  background-color: #C4CDC1;
}

q {
  background-color: #C4CDC1;
}

dl, li {
  background-color: #C4CDC1;
}

table, th, td {
    border-width: thick;
    border-color: #28363D;
    border-collapse: collapse;
    border-style: groove;
}
